html, body {
  background-color: #fff;
  text-align: center;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'MinecraftRegular';
  src: url('assets/fonts/minecraft-regular.otf');
}

#splashText {
  font-family: "MinecraftRegular";
	font-size: 24px;
	color: #ff0;
}