html, body {
  background-color: #ffffff;
  text-align: center;
}

@font-face {
  font-family: 'DeterminationMono';
  src: url('assets/fonts/determination-mono.ttf');
}

feature {
  width: 100vw;
  height: 75vw;
  max-height: 100vh;
  max-width: 133.33vh;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: url('https://github.com/basarat/demo-custom-cursor/blob/master/src/cursors/nyan-cursor.png'), auto;
}

#shopFace {
  position: absolute;
  background-color: #bbbbbb;
  top: 0px;
  left: 0px;
  height: 50%;
  width: 100%;
}

#dialogue {
  position: absolute;
  text-align: left;
  text-indent: -2em;
  padding-left: 5%;
  padding-top: 1%;
  background-color: #000000;
  border-style: solid;
  top: 50%;
  left: 0px;
  height: 50%;
  width: 70%;
}

#interact {
  position: absolute;
  background-color: #777777;
  top: 50%;
  left: 70%;
  height: 50%;
  width: 30%;
}

.dialogueText {
  font-size: 30px;
  max-width: 90%;
  color: #ffffff;
  font-family: 'DeterminationMono';
}
